@using System.Web.Optimization
@model FourthSource.Staffing.Data.Request

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Request</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id)
                @Html.ValidationMessageFor(model => model.Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RequestNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RequestNumber)
                @Html.ValidationMessageFor(model => model.RequestNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date)
                @Html.ValidationMessageFor(model => model.Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RequestType, "RequestType", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RequestType", String.Empty)
                @Html.ValidationMessageFor(model => model.RequestType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateNeeded, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateNeeded)
                @Html.ValidationMessageFor(model => model.DateNeeded)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CompanyNeeded, "CompanyNeeded", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CompanyNeeded", String.Empty)
                @Html.ValidationMessageFor(model => model.CompanyNeeded)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContactName)
                @Html.ValidationMessageFor(model => model.ContactName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PositionType, "PositionType", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PositionType", String.Empty)
                @Html.ValidationMessageFor(model => model.PositionType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Lenght, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Lenght)
                @Html.ValidationMessageFor(model => model.Lenght)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ResourceType, "ResourceType", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ResourceType", String.Empty)
                @Html.ValidationMessageFor(model => model.ResourceType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Position, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Position)
                @Html.ValidationMessageFor(model => model.Position)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.YearsExp, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.YearsExp)
                @Html.ValidationMessageFor(model => model.YearsExp)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Travel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Travel)
                @Html.ValidationMessageFor(model => model.Travel)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AddtionalDetails, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AddtionalDetails)
                @Html.ValidationMessageFor(model => model.AddtionalDetails)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InternalComments, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InternalComments)
                @Html.ValidationMessageFor(model => model.InternalComments)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EnglishLevel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EnglishLevel)
                @Html.ValidationMessageFor(model => model.EnglishLevel)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, "Status", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Status", String.Empty)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Created, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Created)
                @Html.ValidationMessageFor(model => model.Created)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedBy)
                @Html.ValidationMessageFor(model => model.CreatedBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastModified, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastModified)
                @Html.ValidationMessageFor(model => model.LastModified)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModifiedBy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModifiedBy)
                @Html.ValidationMessageFor(model => model.ModifiedBy)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
